SECRET_KEY=django-insecure-()u)%1+uk&$qm3^cb!sl&zh&m&tbuv11y1@z@cse#*2ci-krzn
ALLOWED_HOSTS=*
DEBUG=True

# The git environmental variables are used when we build and publish releases
GIT_COMMIT_HASH=n/a
GIT_COMMIT_TIME=0000000000
GIT_COMMIT_COUNT=-1
